ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}

.active {
    background-color: rgb(123, 210, 231);
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

hr.main {
    border: 2px solid rgb(73, 73, 73);
    border-radius: 5px;
}
  
h1 {
    font-family: 'Lacquer', sans-serif;
    font-style: normal ;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: 'Reenie Beanie', cursive;
    font-style: normal ;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}

p {
    text-align: left;
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}